<template>
	<div>
		<b-modal
			id="modal_form"
			ref="modal_form"
			:title=" form.is_new ? 'Nuevo':'Editar' "
			ok-title="Guardar"
			cancel-title="Cerrar cuadro"
			@ok="proc_form"
		>
			<b-form-group
      id="form_rol_name"
      label="Rol"
      label-for="input-1"
    >
      <b-form-input 
      	id="form_rol_name" 
      	v-model=" form.name " 
      	trim
      ></b-form-input>
    </b-form-group>
		</b-modal>
		<h1>Listado de usuarios</h1>
		<table class="table table-hover table-borderer">
			<thead>
				<th>
					<b-btn variant="info" @click=" get_roles ">
						<font-awesome-icon icon="sync"></font-awesome-icon>
					</b-btn>
				</th>
				<th>Nombre</th>
				<th>Creado en</th>
				<th>Actualizado en</th>
				<th>
					<b-btn variant="light" @click="add" v-b-modal.modal_form> 
						<font-awesome-icon icon="plus"></font-awesome-icon>
					</b-btn>
				</th>
			</thead>
			<tbody v-if="list.length>0">
				<tr v-for="(item,index) in list">
					<td>{{index+1}}</td>
					<td>{{item.name}}</td>
					<td>{{ item.created_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss a') }}</td>
					<td>{{ item.updated_at | moment('timezone', timezone, 'DD/MM/YYYY HH:mm:ss a') }}</td>
					<td>
						<b-btn variant="primary" @click="edit(item)">
							<font-awesome-icon icon="edit"></font-awesome-icon>
						</b-btn>&nbsp;
						<b-btn variant="danger" @click="del(item)">
							<font-awesome-icon icon="times"></font-awesome-icon>
						</b-btn>
					</td>
				</tr>
			</tbody>
			<tbody v-else>
				<tr>
					<td colspan='5' >Sin registros</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
<script>

	const server_api = process.env.VUE_APP_SERVER_API
	const server_api_roles = `${server_api}/users`
	export default {
		data(){
			return {
				list:[
				],
				form:{
					is_new:true,
					name:'',
				},
				selected:{
					reg:{},
				}
			}
		},
		mounted(){
			this.get_roles()
		},
		methods:{
			get_roles(){
				this.axios({
					url:`${server_api_roles}`,
					method:'GET',
					data:{},
					headers:{
						'Content-Type':'Application/json',
						'Accept':'Application/json',
					},	
				}).then(
					(response) => {
						console.log(response)
						if(response && response.data && response.data.values){
							this.list = response.data.values
						}
					}
				).catch(
					(err) => {
						console.log(err)
					}
				)
			},
			add(){
				this.form.is_new = true
			},
			edit(item){
				this.form.is_new = false
				this.selected.reg = item
			},
			del(item){
				this.selected.reg = item
				this.$swal({
					title: 'Eliminar registro ?',
					text: 'No se podrá recuperar este registro',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Eliminar',
					cancelButtonText: 'Cancelar'
				}).then((result) => {
					if (result.value) { 
						this.axios.delete(`${server_api_roles}/${this.selected.reg.id}`,{
							headers:{
								'Accept':'application/json',
								'Content-Type':'application/json',
							}
						})
						.then(
							(response) => {
						  	this.$swal(
					      	'Eliminado',
					      	'El registro fue eliminado',
					      	'success'
							 	)
						    this.get_roles()
							}
						).catch((err) =>{
							this.$swal(
							  'Notificación',
							  'El registro no fue eliminado',
							  'error'
							)
						})
					}
				})

			},
			proc_form(){
				this.axios({
					url:`${server_api_roles}/${this.form.is_new ? '':this.selected.reg.id}`,
					method:this.form.is_new ? 'POST':'PUT',
					data:{name:this.form.name},
					headers:{
						'Content-Type':'Application/json',
						'Accept':'Application/json',
					},	
				}).then(
					(response) => {
						console.log(response)
						this.$swal(
              {
              	title:'Registrado',
              	type:'information',
              }
            )
            this.get_roles()
					}
				).catch(
					(err) => {
						console.log(err)
						this.$swal(
              {
              	title:'Notificación',
              	type:'error',
              }
            )
					}
				)
			}
		},
		watch:{

		},
		computed:{

		},
		filters:{

		},
		props:{

		}
	}
</script>
<style lang=scss scoped>

</style>